{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}

<h1>Новости</h1>
<h3>{% current_time '%d %b %Y' %}</h3>
<h4>Количество новостей: {{ post|length }}</h4>
<hr>
{% if post %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Содержание</td>
            <td>Категории</td>
        </tr>

        {% for p in post %}
        <tr>
            <td>
                <a href="{% url 'post_detail' p.id %}">{{ p.heading }}</a>
            </td>
            <td>{{ p.datetime_in|date:'d M Y' }}</td>
            <td>{{ p.text|truncatechars:20 }}</td>
            <td>
                {% for category in p.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Новостей пока нет!</h2>
{% endif %}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
