{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}

<h1>Новости</h1>
<h3>{% current_time '%d %b %Y' %}</h3>
<h4>Количество новостей: {{ post|length }}</h4>
<hr>
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата публикации</td>
            <td>Содержание</td>
        </tr>

        {% for p in post %}
        <tr>
            <td>{{ p.heading }}</td>
            <td>{{ p.datetime_in|date:'d M Y' }}</td>
            <td>{{ p.text|truncatewords:20 }}</td>
        </tr>
        {% endfor %}
    </table>


{% endblock content %}